html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }

#mapDiv {
    height: 500px;
    max-width:1400px;
    display: block;
    margin: 0 auto;
}

#location-img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

 #callout-styled {
  padding-top: 0px;
  padding-bottom:0px;
  background-image:url("../../assets/images/whatsappeningpic.jpg");
  background: contain;
  background-position: center;
  width: 100%;
  height: 200px;
  max-width:1400px;
  display: block;
  margin: 0 auto;
}

.logo-wrapper {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.position-right {
  width: 600px;
}

 div.top-bar {
   flex-wrap: wrap;
}

.single-event {
  background-color: #ECECEC;
  margin-bottom: 20px;
}

.detail-event {
  background-color: #ECECEC;
}
#mTime {
  color: #0e1f4a;
  weight: 10px;
}
/* #mGroup-Name {
  font-size: 12px;
} */

/* #mGroup-Name, #mVenue-Address-City-Zip {
  align: center;
} */

/* long term move towards flex column for nav bar items */
@media (max-width: 847px) {
  .position-right {
    width: 250px;
  }
  .top-bar .top-bar-right{
    width: 100%;
    flex: auto;
  }
  .menu {
    align-items: center;
    justify-content: center;
  }
}
